@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  /* CSS HEX */
  --dark-spring-bud:rgb(100, 106, 80); 
  --pale-spring-bud: #ccd5aeff;
  --pale-spring-bud-2: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --fawn: #d4a373ff;


  --gradient-top: linear-gradient(0deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  --gradient-right: linear-gradient(90deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  --gradient-bottom: linear-gradient(180deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  --gradient-left: linear-gradient(270deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  --gradient-top-right: linear-gradient(45deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  --gradient-bottom-right: linear-gradient(135deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  --gradient-top-left: linear-gradient(225deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  --gradient-bottom-left: linear-gradient(315deg, #ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  --gradient-radial: radial-gradient(#ccd5aeff, #e9edc9ff, #fefae0ff, #faedcdff, #d4a373ff);
  font-family: 'Ubuntu', sans-serif;
}

body{
  overflow-x: hidden;
}

.App {
  display: grid;
  grid-template-rows: 150px 1fr 50px;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}


main{
  background: var(--gradient-top);
  padding: 10px;
}

header,
main,
footer {
  opacity: 1;
  transition: opacity 1s;
}

.opaque {
  opacity: 0.3;
}

input[type=number]{
  border: none;
  box-shadow: 1px 1px 2px black;
  border-radius: 10%;
  font-size: 0.93rem;
  width: 40px;
  height: 25px;
  align-self: center;
}

input[type=number]:hover{
  border: none;
  box-shadow: 0px 0px 2px 2px var(--fawn)
}

/* * {
  outline: 1px dashed red;
} */