
@import './reset.css';

.App {
  display: grid;
  grid-template-rows: 150px 1fr 50px;
  background-color: lightgrey;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  transition: opacity 1s;
}

.opaque{
  opacity: 0.3;
}

/* * {
  outline: 1px dashed red;
} */