
@import './reset.css';

.App {
  display: grid;
  grid-template-rows: 150px 1fr 50px;
  background-color: lightgrey;
  height: 100vh;
  width: 100vw;
}

.opaque{
  opacity: 0.3;
  transition: all 1s;
}

/* * {
  outline: 1px dashed red;
} */