#cart {
  position: absolute;
  height: 100%;
  width: clamp(300px, 30vw, 500px);
  right: -500px;
  opacity: 0;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: var(--fawn);
  z-index: 1;
}

#cart > button:first-child{
  align-self: flex-start;
  width: 20px;
}

#cart.visible{
  right: 0;
  opacity: 1;
}

#cart .item{
  margin: 10px;
  padding: 10px;
  height: auto;
  width: auto;
}



#cart img{
  height: 60px;
}

#cart .item h1{
  font-size: 1rem;
}

#cart .item .quantity{
  align-self: flex-start;
}


