.App header{
  display: flex;
  align-items: center;
  background-color: var(--fawn);
}

header h1{
  flex-grow: 2;
}

ul{
  flex-grow: 1;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}