.App header{
  display: flex;
  align-items: center;
  background-color: var(--fawn);
}

header h1{
  flex-grow: 2;
  padding: 20px;
  font-size: clamp(2.5rem, 6vw, 4rem);
  font-weight: bold;
  color: var(--pale-spring-bud-2);
  text-shadow: 2px 2px 2px black;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

ul{
  flex-grow: 1;
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

li {
  position: relative;
}

button:hover + #cart-number{
  background-color: var(--pale-spring-bud-2);
}

#cart-number{
  position: absolute;
  top: -20px;
  left: -10px;
  background-color: white;
  padding: 3px 5px 3px 5px;
  border-radius: 100%;
  box-shadow: 1px 1px 3px black;
}

@media only screen and (max-width: 700px){
  .App header {
    flex-direction: column;
  }
  ul{
    width:  70%
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
